<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
<head>
        <link rel="icon" type="image/x-icon"  href='/images/favicon_spiral.ico' >
</head>

<body style="font-family:'Open Sans', sans-serif">
    <div>
        <h1>
            Network Analysis Recommendation Engine
        </h1>
        <h2>
            By: Renzo Tanaka-Wong and Zach Qian
        </h2>
    
        <p>Click to see recommendations!</p>
    
        <h1><a href="dash">Interactive Network Graph</a></h1>
        <h1><a href="about">About The Project</a></h1>
    </div>

</body>
</html>


