<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
<body style="font-family:arial, sans-serif">
    <div>
        <h1>
            Anime Network Analysis Project
        </h1>
        <h2>
            By: Renzo and Zach
        </h2>
    
        <p>Click to see charts on different pages</p>
    
        <h1><a href="dash">Interactive Network Graph</a></h1>
        <h1><a href="recommendations">Show Recommendations</a></h1>
    </div>

</body>
</html>


